/*==============================================
          Petz Website Stylesheet
           Body Core Stylesheet
===============================================*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    color: black;
    background-color: white;
    overflow-x: hidden;
    font-family: 'Exo 2', sans-serif;
}

body,
html {
    height: 100%;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background-color: transparent;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0px;
    padding: 0px
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}

li {
    display: inline-block;
}

a,
.btn {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

textarea {
    resize: none;
}


/*====== Navbar ======*/

.header {
    background: #fff;
    width: 100%;
    -webkit-box-shadow: 0 7px 7px -8px #999;
    -moz-box-shadow: 0 7px 7px -8px #999;
    box-shadow: 0 7px 7px -8px #999;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #000000;
}

.navbar {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
}

.navbar-default {
    background-color: #ffffff;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.0784313725490196);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.0784313725490196);
}

.navbar-default .navbar-brand {
    color: #000;
}

.navbar-nav>li {
    margin-left: 5px;
}

.navbar-default .navbar-nav>li>a {
    color: #362f2d;
    font-size: 15px;
    text-align: center;
    padding: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #009cff;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.navbar>.container .navbar-brand span {
    color: #009cff;
}

.navbar>.container .navbar-brand {
    font-size: 59px;
    letter-spacing: -7px;
}

.navbar-nav>li>a {
    padding-top: 25px;
    padding-bottom: 25px;
}

.navbar .hidden-xs {
    font-weight: 700;
    line-height: 70px;
    font-size: 11px;
    color: #d7d7d7;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #009cff;
}


/*====== Jumbotron ======*/

.jumbotron {
    height: auto;
    margin-bottom: 0;
    padding-top: 160px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/home-banner1.jpg");
}

.jumbotron h1 {
    color: #fff;
    font-size: 47px;
    font-weight: 500;
    line-height: 55px;
    padding-bottom: 40px;
    letter-spacing: -2px;
    text-transform: capitalize;
}

.jumbotron h1 span {
    display: block;
}

.jumbotron .btn-lg {
    font-size: 23px;
    line-height: 3px;
    font-weight: 600;
    padding: 29px 29px;
    border-radius: 32px;
    background: #009cff;
    border: none;
    text-transform: uppercase;
    margin-bottom: 100px;
    border: 2px solid #009cff;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.jumbotron .btn-lg:hover {
    color: #009cff;
    border: 2px solid #009cff;
    background-color: rgba(102, 102, 102, 0.17);
}

.jumbotron .col {
    min-height: 0px;
    display: flex;
    padding: 65px 20px;
    background-color: #fff;
}

.jumbotron .col .pete-1,
.pete-2,
.pete-3 {
    border-top-right-radius: 110px 110px;
    border-bottom-right-radius: 110px 110px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 45px;
    margin-right: 30px;
    width: 80px;
    height: 175px;
}

.jumbotron .col .inner-content {
    margin-top: -5px;
}

.jumbotron .col .pete-1 {
    background-image: url(../images/pete-2.jpg);
}

.jumbotron .col .pete-2 {
    background-image: url(../images/pete-1.jpg);
}

.jumbotron .col .pete-3 {
    background-image: url(../images/pete-3.jpg);
}

.jumbotron .col .inner-content h2 {
    font-size: 30px;
    color: #362f2d;
    padding-bottom: 20px;
}

.jumbotron .col .inner-content p {
    font-size: 14px;
    font-weight: 400;
    color: #737373;
    margin-bottom: 11px;
}

.jumbotron .col .inner-content p a {
    color: #f52e1f;
}

.jumbotron .inner-content h2 a {
    color: black;
}


/*====== Staff ======*/

.staff {
    padding-bottom: 100px;
    background-color: white;
}

.staff .col video {
    width: 100%;
    height: 408px;
    border: 20px solid #464646;
}

.staff h2 {
    color: #959595;
    font-size: 46px;
    text-align: center;
    padding-bottom: 18px;
}

.staff h5 {
    color: #959595;
    font-size: 26px;
    text-align: center;
    padding-bottom: 60px;
}

.staff h3 {
    font-size: 34px;
    padding-bottom: 24px;
}

.staff h4 {
    color: #737373;
    font-size: 22px;
    padding-bottom: 30px;
}

.staff p {
    color: #b8b8b8;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-right: 94px;
    padding-bottom: 30px;
}

.staff .btn-group .btn-warning {
    margin-right: 20px;
    background-color: #009cff;
}

.staff .btn-group .btn-success {
    background-color: #362f2d;
    border: 2px solid #362f2d;
}

.staff .btn-group .btn {
    font-size: 19px;
    padding: 16px 38px;
    text-transform: uppercase;
    border: 2px solid transparent;
}

.staff .btn-group .btn:hover {
    color: #009cff;
    border: 2px solid #009cff;
    background-color: rgb(255, 255, 255);
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-radius: 100px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-group>.btn:last-child:not(:first-child) {
    border-radius: 100px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}


/*====== Product ======*/

.product .image.one {
    overflow: hidden;
}

.product .image.one img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.product .image.one img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.product {
    padding-top: 65px;
    padding-bottom: 93px;
    background-image: url(../images/product-bg.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.product .col .thumbnail img {
    width: 100%;
    height: auto;
}

.product .col .thumbnail h3 {
    font-size: 22px;
    text-align: center;
    padding-bottom: 10px;
}

.product h2 {
    font-size: 50px;
    text-align: left;
    padding-bottom: 60px;
}

.product .btn-default {
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 118px;
    text-transform: uppercase;
    background-color: #362f2d;
    border: 1px solid #362f2d;
}

.product .btn-default:hover {
    color: #fff;
    border: 1px solid #009cff;
    background-color: #009cff;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.product .col .thumbnail .caption {
    padding: 0;
    padding-top: 25px;
}

.product .col .thumbnail p {
    color: #b8b8b8;
    text-align: center;
    font-size: 14px;
    padding: 0 34px;
    padding-bottom: 20px;
}

.product .thumbnail {
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.product .col .thumbnail .box {
    text-align: center;
    border-top: 1px solid #cccccc;
}

.product .col .thumbnail .box p {
    width: 165px;
    color: black;
    display: inline-block;
    margin: 0;
    padding: 13px 0;
    font-size: 22px;
    text-align: center;
    border-right: 1px solid #cccccc;
}

.product .col .thumbnail .box .cart {
    color: #707070;
    margin: 0 21px;
    font-size: 23px;
}

.product .col .thumbnail .box span {
    color: #f52e1f;
}

.product .fa-shopping-cart:hover {
    color: #009cff;
    cursor: pointer;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.product h3 a {
    color: #000;
}


/*====== Client ======*/

.client {
    padding-bottom: 0px;
}

.client .col-sm-6 {
    padding: 0;
}

.quote {
    font-size: 169px;
    color: #333333;
    text-align: right;
    padding-right: 96px;
}

.client .fa {
    position: absolute;
}

.client .col {
    height: 415px;
    padding-left: 155px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 50px;
    background-color: #252525;
}

.client .image {
    height: 415px;
    background-image: url("../images/client-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#quote-carousel h3 {
    color: white;
    font-size: 40px;
    padding-bottom: 47px;
}

#quote-carousel p {
    color: #959595;
    font-size: 20px;
    padding-bottom: 35px;
}

#quote-carousel h4 {
    color: white;
    font-size: 22px;
}

.client .carousel-indicators {
    position: absolute;
    bottom: 0;
    top: 300px;
    left: 0;
    z-index: 15;
    width: 30%;
    padding-left: 0;
    margin-left: 0;
    text-align: left;
    list-style: none;
}

.client .carousel-indicators li {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #555555;
    border: none;
}

.client .carousel-indicators .active {
    display: inline-block;
    width: 15px;
    margin: 1px;
    height: 15px;
    background: #fff;
}

/*====== Contact Section ======*/

.contact {
    height: auto;
    padding-top: 65px;
    background-image: url("../images/contact-bg.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact h2 {
    font-size: 40px;
    color: #fff;
    padding-bottom: 52px;
}

.contact p {
    font-size: 16px;
    color: #e1dfdf;
    margin-top: -10px;
    line-height: 26px;
    padding-bottom: 18px;
}

.main-footer p {
    text-align: right;
    font-size: 14px;
    letter-spacing: 1px;
}

footer p a:hover,
a:active {
    text-decoration: none;
}

.contact .form-group {
    margin-bottom: 30px;
}

.contact .inner-content {
    display: inline-block;
    padding-bottom: 55px;
}

.contact .address {
    padding-left: 40px
}

.contact .social-icon .fa-facebook-square {
    color: #0054a6;
}

.contact .social-icon .fa-twitter-square {
    color: #00bff3;
}

.contact .social-icon .fa-youtube-square {
    color: #ed1c24;
}

.contact .social-icon .fa-instagram {
    color: #e4405f;
}

.contact .social-icon .fa:hover {
    color: rgba(255, 151, 0, 0.4);
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.social-icon li {
    font-size: 30px;
    display: inline-block;
    margin-right: 15px;
}

.contact input {
    height: 55px;
    border-radius: 0;
}

.contact textarea.form-control {
    border-radius: 0;
    margin-bottom: 10px;
}

.contact .btn-default {
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 7px 35px;
    background-color: rgba(0, 156, 255, 0.8);
    border-radius: 100px;
    text-transform: uppercase;
}

.contact .btn-default:hover {
    color: #fff;
    background-color: rgba(255, 151, 0, 0.3);
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.contact ::placeholder {
    color: gray;
    font-size: 16px;
    font-style: italic;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: gray;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: gray;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: gray;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: gray;
}

footer {
    height: auto;
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.64);
}

footer p {
    font-size: 14px;
}

footer p span a {
    color: #009cff;
}

footer p span a:hover {
    border-bottom: 1px solid #009cff;
}

footer ul {
    text-align: right;
    padding-bottom: 5px;
}

footer ul>li {
    margin-bottom: 15px;
}

footer ul>li>a {
    padding: 0;
    color: #fff;
    display: block;
    font-size: 16px;
    text-align: right;
    margin-left: 10px;
    font-weight: 300;
    position: relative;
    letter-spacing: 1px;
}

footer a:focus,
a:hover {
    color: #009cff;
}

footer .footer-logo {
    color: #fff;
    float: left;
}

footer .footer-logo span {
    color: #009cff;
}

footer .footer-logo {
    font-size: 59px;
    letter-spacing: -7px;
}


/*==============================
        About-page Start
==============================*/

.about {
    margin-top: -60px;
}

.about .container {
    background: white;
}

.banner {
    width: 100%;
    height: 300px;
    margin-bottom: 0;
    padding-top: 130px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/earth.jpg");
}

.banner h1 {
    color: #fff;
    font-size: 47px;
    font-weight: 500;
    line-height: 55px;
    padding-bottom: 30px;
    letter-spacing: -2px;
    text-transform: capitalize;
}

.about .image {
    width: 100%;
    height: 498px;
    margin-bottom: 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../images/about.jpg");
    -moz-box-shadow: 0px 0px 18px -2px rgb(142, 142, 142);
    -webkit-box-shadow: 0px 0px 18px -2px rgb(142, 142, 142);
    box-shadow: 0px 0px 18px -2px rgb(142, 142, 142);
}

.about .inner-content {
    padding-top: 80px;
    padding-right: 15px;
    padding-left: 15px;
}

.about .about-contant {
    padding-bottom: 70px;
}

.about .about-contant p {
    font-size: 17px;
    padding-bottom: 30px;
    text-align: justify;
    line-height: 28px;
    font-weight: 400;
    color: rgb(127, 127, 127);
}


/* ----------------
 pets Section
---------------- */

#careers {
    margin-top: -60px;
    padding-bottom: 50px;
}

#careers .container {
    background: white;
}

#careers .part-1,
.part-2,
.part-3 {
    padding-bottom: 70px;
}

#careers h3 {
    font-size: 29px;
    color: #009cff;
    padding-bottom: 16px;
}

#careers h4 {
    font-size: 16px;
    color: #464646;
}

#careers p {
    font-size: 16px;
    line-height: 2;
    color: #000;
    margin-top: -7px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
}

#careers .heading {
    padding-bottom: 30px;
}

#careers .inner-content {
    padding-top: 70px;
}


/* ----------------
 pets Section
---------------- */

#pets {
    margin-top: -60px;
    padding-bottom: 50px;
}

#pets .container {
    background: white;
}

#pets .part-1,
.part-2,
.part-3 {
    padding-bottom: 70px;
}

#pets img {
    height: 200px;
    object-fit: cover;
}

#pets h3 {
    font-size: 29px;
    color: #009cff;
    padding-bottom: 16px;
}

#pets h4 {
    font-size: 16px;
    color: #464646;
}

#pets p {
    font-size: 16px;
    line-height: 2;
    color: #000;
    margin-top: -7px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
}

#pets .heading {
    padding-bottom: 30px;
}

#pets .inner-content {
    padding-top: 70px;
}


/* ----------------
 Product Section
---------------- */

#product {
    margin-top: -60px;
    padding-bottom: 93px;
}

#product .container {
    background: white;
}

#product .inner-content {
    padding-top: 30px;
}

#product .image.one {
    overflow: hidden;
}

#product .image.one img {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#product .image.one img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#product .col .thumbnail img {
    width: 100%;
}

#product .col .thumbnail h3 {
    font-size: 22px;
    text-align: center;
    padding-bottom: 10px;
}

#product h2 {
    font-size: 50px;
    text-align: left;
    padding-bottom: 60px;
}

#product .btn-default {
    color: #fff;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 118px;
    text-transform: uppercase;
    background-color: #362f2d;
    border: 1px solid #362f2d;
}

#product .btn-default:hover {
    color: #fff;
    border: 1px solid #009cff;
    background-color: #009cff;
}

#product .col .thumbnail .caption {
    padding: 0;
    padding-top: 25px;
}

#product .col .thumbnail p {
    color: #b8b8b8;
    text-align: center;
    font-size: 14px;
    padding: 0 34px;
    padding-bottom: 20px;
}

#product .thumbnail {
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#product .col .thumbnail .box {
    text-align: center;
    border-top: 1px solid #cccccc;
}

#product .col .thumbnail .box p {
    width: 150px;
    color: black;
    display: inline-block;
    margin: 0;
    padding: 13px 26px;
    font-size: 22px;
    text-align: left;
    border-right: 1px solid #cccccc;
}

#product .col .thumbnail .box .cart {
    color: #707070;
    margin: 0 28px;
    font-size: 23px;
}

#product .col .thumbnail .box span {
    color: #f52e1f;
}

#product .products-display a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
}

#product .products-display a:hover {
    background-color: #009cff;
    color: #fff;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#product .previous {
    color: white;
	background-color: #363636;
}

#product .next {
    color: white;
    margin-left: 10px;
    background-color: #009cff;
}

#product .inner-content .caption h3 a {
    color: black;
}

#product .inner-content .caption .cart .fa-shopping-cart:hover {
    cursor: pointer;
    color: #009cff;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.products-display {

    padding-top: 30px;
    padding-bottom: 40px;
	text-align:right;
}
fa fa-home{
    cursor: pointer;
}




/*
.review .myrow1{
float: left;
} */

.review-content {
    border: 1px solid #c9c9c9;
    padding: 26px 0 5px 30px;
    margin-bottom: 60px;
}

.myreview h2 {
    font-size: 30px;
    line-height: 30px;
    color: #464646;
}

.review-content p {
    padding-right: 315px;
    font-size: 16px;
    line-height: 32px;
    color: #646464;
    font-weight: 500;
}

.write-review h2 {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 30px;
    color: #464646;
}

.slider-content ul {
    list-style: none;
    padding: 0;
}

.slider-content .mylist {
    text-decoration: line-through;
    color: #7d7d7d;
}

.slider-content .myspan {
    font-size: 24px;
    color: #7d7d7d;
}

.slider-content .myspan1 {
    font-size: 28px;
    color: #ee2d27;
}

.slider-content .btn-primary {
    background: rgba(0, 0, 0, 0.51);
}

.review-content h6 {
    color: #274a61;
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: bold;
}

.review-content h6 span {
    color: #c2c2c2;
    font-weight: lighter;
}

.mylist {
    display: block;
}

.mylist1 {
    display: block;
    font-weight: 500;
}

.single #myCarousel .carousel-indicators {
    margin-left: initial;
    position: relative;
    top: 0;
    left: initial;
    bottom: inherit;
    display: block;
    width: calc(100% + 20px);
    margin: 0 10px 0 -10px;
}

.single #myCarousel .carousel-indicators>li {
    width: 25%;
    padding-left: 0;
    padding-right: 0;
    float: left;
    height: initial;
    text-indent: initial;
    margin-bottom: 12px;
    margin: 0;
    padding: 0 10px;
}

.myrow {
    text-align: center;
}

.cart {
    width: 100%;
    margin-top: 30px;
}

.cart .btn {
    display: block;
    width: 265px;
    padding: 12px 0;
    margin: 0 auto;
    border-radius: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.cart .btn-info {
    background-color: #ee2d27;
    margin-bottom: 20px;
    border: 2px solid #ee2d27;
}

.cart .btn-primary {
    background-color: #7d7d7d;
    border: 2px solid #7d7d7d;
}

.cart .btn-info:hover {
    background: none;
    border-color: #009cff;
    color: black;
}

.cart .btn-primary:hover {
    background: none;
    border-color: #009cff;
    color: black;
}

.single .carousel-inner {
    position: relative;
    width: calc(100% - 160px);
    overflow: hidden;
}

.nav-item a:hover {
    text-decoration: underline;
}

.w549 {
    width: 100%;
    height: 549px;
}

.w98 {
    width: 100%;
}

#product h2 {
    color: #464646;
}

.single .carousel-inner {
    width: 100%;
    margin-bottom: 30px;
}

.single .img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: 130px;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: none;
    border-radius: 0;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding: 0;
    width: 100%;
}

.single .carousel-inner>.item>img,
.img-thumbnail {
    max-width: 100%;
    height: 450px;
    object-fit: cover;
}

.review h2 {
    padding-bottom: 30px;
    color: #464646;
}

.form-horizontal .btn-default {
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 0;
    padding: 10px 100px;
    color: white;
    background: rgba(0, 0, 0, 0.38823529411764707);
}

.form-horizontal .btn-default:active:hover {
    border-color: #009cff;
    background-color: #009cff;
}

.form-horizontal .form-control {
    border-radius: 0;
}

.form-horizontal .form-group {
    margin-bottom: 25px;
}

.review input {
    height: 45px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #cacaca;
    font-style: italic;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #cacaca;
    font-style: italic;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #cacaca;
    font-style: italic;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #cacaca;
    font-style: italic;
}





/*-- social buttons --*/

.mbm_social {
    margin: 30px 0;
    padding: 0;
    font-size: 0;
    float: right;
    background: #fff;
    text-align: center;
}

.mbm_social li {
    display: inline-block;
    margin: 0 16px 0 0;
}

.mbm_social a {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 px;
    width: 116px;
    height: 31px;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    z-index: 2;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 5px;
}

.mbm_social a:hover {
    color: #fff;
}

.mbm_social a:hover .tooltip {
    display: block;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0, -33px);
    transform: translate(0, -33px);
}

.mbm_social a:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
}

.mbm_social .tooltip {
    opacity: 0;
    position: absolute;
    top: 2px;
    left: 50%;
    z-index: 1;
    -webkit-transition: all .15s ease;
    transition: all .15s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.mbm_social .tooltip span {
    font-size: 10px;
    font-weight: bold;
    left: -50%;
    line-height: 1;
    padding: 6px 8px 5px;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}

.mbm_social .tooltip span:after {
    position: absolute;
    content: " ";
    width: 0;
    height: 0;
    top: 100%;
    left: 50%;
    margin-left: -8px;
    border: 8px solid transparent;
}

.mbm_social .social-twitter {
    background: #00abdc;
    border-radius: 5px;
    background: -webkit-linear-gradient(#00abdc, #00abdc);
    background: linear-gradient(#00abdc, #00abdc);
    border-bottom: 1px solid #00abdc;
}

.mbm_social .social-twitter:hover {
    color: #fff;
    text-shadow: 0px 1px 0px #00abdc;
}

.mbm_social .social-twitter span {
    background: #00abdc;
    background: -webkit-linear-gradient(#00abdc, #00abdc);
    background: linear-gradient(#00abdc, #00abdc);
    color: #fff;
}

.mbm_social .social-twitter span:after {
    border-top-color: #00abdc;
}

.mbm_social .social-facebook {
    background: #325c94;
    border-radius: 5px;
    background: -webkit-linear-gradient(#4562a0, #385693);
    background: linear-gradient(#4562a0, #385693);
    border-bottom: 1px solid #2f487c;
}

.mbm_social .social-facebook:hover {
    color: #fff;
    text-shadow: 0px 1px 0px #2f487c;
}

.mbm_social .social-facebook span {
    background: #3b5a9b;
    background: -webkit-linear-gradient(#5873aa, #3b5a9b);
    background: linear-gradient(#5873aa, #3b5a9b);
    color: #fff;
}

.mbm_social .social-facebook span:after {
    border-top-color: #325c94;
}

.mbm_social .social-google-plus {
    background: #ea4335;
    background: -webkit-linear-gradient(#ea4335, #ea4335);
    background: linear-gradient(#ea4335, #ea4335);
    border-bottom: 1px solid #ea4335;
}

.mbm_social .social-google-plus:hover {
    color: #fff;
    text-shadow: 0px 1px 0px #ea4335;
}

.mbm_social .social-google-plus span {
    background: #ea4335;
    background: -webkit-linear-gradient(#ea4335, #ea4335);
    background: linear-gradient(#ea4335, #ea4335);
    color: #fff;
}

.mbm_social .social-google-plus span:after {
    border-top-color: #ea4335;
}

.mbm_social i {
    position: relative;
    top: 1px;
    font-size: 12px;
}

.mbm_social small {
    font-size: 12px;
    margin: 0 0 0 23px;
}

/*-- contant----*/ .contant {
    margin-bottom: 100px;
}

.contant p {
    margin: 0;
    color: #000;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 200;
    text-align: left;
    padding: 0 0;
    padding-bottom: 45px;
}

.contant .image {
    width: 100%;
    height: 580px;
    margin-bottom: 52px;
    border: none;
    padding: 0;
    border-radius: 0;
}

.contant h3 {
    font-size: 25px;
    font-weight: 500;
    color: black;
    padding: 45px 0;
}

.contact ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #d9d9d9;
    font-size: 12px;
}

.contact ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #d9d9d9;
}

.contact ::-moz-placeholder {
    /* Firefox 19+ */
    color: #d9d9d9;
}

.contact ::-ms-input-placeholder {
    /* IE 10+ */
    color: #d9d9d9;
}

.contact ::-moz-placeholder {
    /* Firefox 18- */
    color: #d9d9d9;
}

.social-buttons {
    border: 1px solid #c2c2c2;
    margin-top: 60px;
    margin-bottom: 60px;
}

.social-buttons h3 {
    color: #737373;
    font-size: 17px;
    font-weight: 400;
    padding: 36px 20px;
}


.social-buttons .inner-text span:first-child {
    color: black;
    font-weight: 600;
}

.social-buttons .inner-text span:last-child {
    color: #737373;
    font-weight: 500;
    border-bottom: 1px solid gray;
}

/*====== Media ======*/

@media (max-width: 1920px) and (min-width: 1680px) {
    .container {
        width: 1675px;
    }
    .navbar-default .navbar-nav>li>a {
        padding: 33px 24px;
    }
    .navbar>.container .navbar-brand {
        font-size: 80px;
    }
    .navbar-brand {
        padding: 20px 15px;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 18px;
    }
    .jumbotron {
        padding-top: 240px;
    }
    .jumbotron h1 {
        font-size: 68px;
        padding-bottom: 52px;
        line-height: 1;
    }
    .jumbotron .btn-lg {
        margin-bottom: 150px;
        padding: 30px 48px;
        font-size: 22px;
        border-radius: 100px;
    }
    .jumbotron .col .inner-content h2 {
        font-size: 36px;
        padding-bottom: 30px;
    }
    .jumbotron .col .inner-content p {
        font-size: 16px;
    }
    .jumbotron .col .inner-content p {
        padding-bottom: 33px;
    }
    .jumbotron .col .pete-1,
    .pete-2,
    .pete-3 {
        padding: 58px;
        height: 220px;
    }
    .jumbotron p {
        margin-bottom: 25px;
    }
    #pets p {
        font-weight: 300;
        line-height: 39px;
    }
    #pets img {
        height: 299px;
    }
    #careers h3 {
        font-size: 32px;
    }
    #careers p {
        font-size: 18px;
    }
    .staff h2 {
        font-size: 58px;
    }
    .staff h5 {
        font-size: 32px;
        padding-bottom: 80px;
    }
    .staff {
        padding-bottom: 90px;
    }
    .staff .col video {
        height: 589px;
    }
    .staff h3 {
        font-size: 45px;
        padding-bottom: 30px;
    }
    .staff h4 {
        font-size: 26px;
    }
    .staff p {
        font-size: 20px;
        font-weight: 300;
        line-height: 36px;
        padding-bottom: 64px;
    }
    .staff .btn-group .btn {
        font-size: 22px;
        padding: 16px 44px;
    }
    .product {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .product h2 {
        font-size: 62px;
    }
    .product .btn-default {
        font-size: 18px;
        padding: 12px 36px;
        border-radius: 100px;
    }
    .product .col .thumbnail h3 {
        font-size: 32px;
        padding-bottom: 30px;
    }
    .product .col .thumbnail p {
        font-size: 18px;
        padding-bottom: 30px;
    }
    .product .col .thumbnail .box p {
        width: 295px;
        padding: 17px 92px;
        font-size: 26px;
    }
    .product .col .thumbnail .box .cart {
        margin: 0 30px;
        font-size: 26px;
    }
    .about .about-contant p {
        font-size: 18px;
        line-height: 40px;
    }
    #product {
        margin-top: -60px;
        padding-bottom: 80px;
    }
    #product h2 {
        font-size: 62px;
    }
    #product .btn-default {
        font-size: 18px;
        padding: 12px 36px;
        border-radius: 100px;
    }
    #product .col .thumbnail h3 {
        font-size: 32px;
        padding-bottom: 30px;
    }
    #product .col .thumbnail p {
        font-size: 18px;
        padding-bottom: 30px;
    }
    #product .col .thumbnail .box p {
        width: 275px;
        text-align: center;
        font-size: 26px;
    }
    #product .col .thumbnail .box .cart {
        margin: 0 30px;
        font-size: 26px;
    }
    .client .col {
        padding-left: 138px;
        padding-top: 75px;
    }
    .client .col {
        height: 600px;
    }
    .client .image {
        height: 600px;
    }
    .carousel-indicators li {
        width: 20px;
        height: 20px;
    }
    .carousel-indicators .active {
        width: 20px;
        height: 20px;
    }
    .carousel-indicators {
        top: 390px;
    }
    #quote-carousel h3 {
        font-size: 62px;
        padding-bottom: 70px;
    }
    #quote-carousel p {
        font-size: 28px;
        line-height: 45px;
    }
    #quote-carousel h4 {
        font-size: 24px;
    }
    .contact h2 {
        font-size: 52px;
        padding-bottom: 75px;
    }
    .client .carousel-indicators {
        top: 400px;
    }
    .contant p {
        font-size: 20px;
        line-height: 35px;
        padding-bottom: 60px;
    }
    .blog_single .subtitle {
        font-size: 62px;
    }
    .contact ::placeholder {
        font-size: 14px;
    }
    .contact {
        padding-top: 85px;
    }
    .contact input {
        height: 65px;
    }
    .contact .form-group {
        margin-bottom: 40px;
    }
    .contact textarea.form-control {
        height: 200px;
        border-radius: 0;
        margin-bottom: 20px;
    }
    .contact .btn-default {
        font-size: 22px;
        padding: 16px 28px;
    }
    .contact p {
        font-size: 19px;
        line-height: 35px;
        margin-top: 0;
    }
    .main-footer p {
        font-size: 14px;
    }
    .contact .address {
        padding-left: 70px;
    }
    .contact .address h2 {
        padding-bottom: 63px;
    }
    .social-icon li {
        font-size: 42px;
    }
    footer ul>li {
        margin-bottom: 20px;
    }
    footer {
        padding-top: 70px;
        padding-bottom: 40px;
    }
    footer .footer-logo {
        font-size: 66px;
        letter-spacing: -5px;
    }
    footer ul>li>a {
        position: relative;
        display: block;
        padding: 0;
        color: #fff;
        margin-left: 20px;
        font-size: 18px;
    }
}

@media (max-width: 1024px) and (min-width: 767px) {
    .jumbotron {
        padding-top: 48px;
        padding-bottom: 0;
    }
    .jumbotron {
        height: auto;
        margin-bottom: 0;
        padding-top: 130px;
    }
    .jumbotron h1 {
        font-size: 36px;
        line-height: 37px;
        letter-spacing: -1px;
    }
    .jumbotron .btn-lg {
        font-size: 14px;
        padding: 18px 24px;
        border-radius: 100px;
    }
    .jumbotron .col .inner-content h2 {
        font-size: 22px;
    }
    .jumbotron .col .inner-content p {
        font-size: 12px;
    }
    .jumbotron .col .pete-1,
    .pete-2,
    .pete-3 {
        padding: 42px;
        height: 174px;
    }
    .staff h2 {
        font-size: 32px;
        padding-bottom: 12px;
    }
    .staff h5 {
        font-size: 18px;
        padding-bottom: 40px;
    }
    .staff .col video {
        height: 308px;
        border: 15px solid #464646;
    }
    .staff h3 {
        font-size: 24px;
        padding-bottom: 12px;
    }
    .staff h4 {
        font-size: 14px;
        padding-bottom: 20px;
    }
    .staff p {
        font-size: 12px;
        padding-right: 42px;
        padding-bottom: 30px;
    }
    .staff .btn-group .btn {
        padding: 7px 18px;
    }
    .staff .btn-group .btn-warning {
        margin-right: 10px;
    }
    .btn {
        padding: 6px 12px;
        font-size: 12px;
    }
    .staff .col {
        height: 309px;
    }
    .staff {
        padding-bottom: 50px;
    }
    .product {
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .product h2 {
        font-size: 36px;
        text-align: left;
        padding-bottom: 35px;
    }
    .product .btn-default {
        font-size: 12px;
        padding: 8px 17px;
        border-radius: 100px;
    }
    .product .col .thumbnail .caption {
        padding: 0;
        padding-top: 12px;
    }
    .product .col .thumbnail p {
        font-size: 12px;
        padding: 0 31px;
    }
    .product .col .thumbnail h3 {
        font-size: 18px;
    }
    .product .col .thumbnail .box p {
        width: 144px;
        padding: 13px 41px;
        font-size: 14px;
    }
    .product .col .thumbnail .box .cart {
        margin: 0 22px;
        font-size: 18px;
    }
    #product .inner-contact {
        margin-top: -80px;
    }
    #product {
        padding-top: 20px;
        padding-bottom: 30px;
    }
    #product h2 {
        font-size: 36px;
        text-align: left;
        padding-bottom: 35px;
    }
    #product .btn-default {
        font-size: 12px;
        padding: 8px 17px;
        border-radius: 100px;
    }
    #product .col .thumbnail .caption {
        padding: 0;
        padding-top: 12px;
    }
    #product .col .thumbnail p {
        font-size: 12px;
        padding: 0 31px;
    }
    #product .col .thumbnail h3 {
        font-size: 18px;
    }
    #product .col .thumbnail .box p {
        width: 130px;
        font-size: 14px;
    }
    #product .col .thumbnail .box .cart {
        margin: 0 22px;
        font-size: 18px;
    }
    #quote-carousel h3 {
        font-size: 30px;
        padding-bottom: 30px;
    }
    #quote-carousel p {
        font-size: 18px;
        padding-bottom: 25px;
    }
    #quote-carousel h4 {
        font-size: 18px;
    }
    .carousel-indicators {
        top: 279px;
    }
    .client .col {
        height: 380px;
        padding-left: 50px;
    }
    .client .image {
        height: 380px;
    }
    .contact {
        padding-top: 30px;
    }
    .contact .inner-content {
        padding-bottom: 30px;
        text-align: left;
    }
    .contact h2 {
        font-size: 32px;
        padding-bottom: 30px;
    }
    .contact input {
        height: 45px;
    }
    .contact p {
        font-size: 14px;
        line-height: 24px;
        padding-bottom: 5px;
    }
    .contact textarea.form-control {
        height: 130px;
    }
    .contact ::placeholder {
        font-size: 14px;
    }
    .contact .form-group {
        margin-bottom: 24px;
    }
    .contact .btn-default {
        font-size: 14px;
        padding: 12px 30px;
    }
    footer .footer-logo {
        font-size: 42px;
        letter-spacing: -3px;
    }
    footer ul>li>a {
        font-size: 14px;
        margin-left: 6px;
    }
    footer ul>li {
        margin-bottom: 5px;
    }
    footer {
        height: auto;
        padding: 28px 0;
    }
    .contact footer p {
        font-size: 12px;
        line-height: 24px;
        text-align: right;
    }
    .about .container {
        width: 100%;
    }
    .about {
        padding-left: 20px;
        padding-right: 20px;
    }
    #contact {
        padding-top: 50px;
        text-align: center;
    }
    #contact .text-left {
        padding-bottom: 50px;
    }
    #contact p {
        font-size: 12px;
        padding: 0;
        line-height: 20px;
        padding-bottom: 10px;
    }
    #about-us p {
        margin-bottom: 60px;
        font-size: 16px;
    }
    #about-us {
        padding-top: 50px;
    }

    .mbm_social li {
        margin: 0 5px 0 0;
    }
    .blog_single h4 {
        font-size: 42px;
    }
    #contant p {
        font-size: 12px;
    }
    .client .carousel-indicators {
        top: 265px
    }
}

@media (max-width: 768px) and (min-width: 425px) {
    .navbar>.container .navbar-brand {
        font-size: 42px;
        letter-spacing: -4px;
    }
    .navbar-brand {
        line-height: 25px;
    }
    .jumbotron .col .inner-content h2 {
        font-size: 26px;
    }
    .jumbotron .col .inner-content p {
        font-size: 16px;
    }
    .jumbotron .col .pete-1,
    .pete-2,
    .pete-3 {
        padding: 37px;
        height: 143px;
    }
    .jumbotron .col {
        min-height: 274px;
    }
    .about .image {
        height: 300px;
    }
    .staff h2 {
        font-size: 26px;
        padding-bottom: 8px;
    }
    .staff h5 {
        font-size: 14px;
        padding-bottom: 30px;
    }
    .staff .col {
        height: auto;
        margin-bottom: 30px;
    }
    .staff .col video {
        height: auto;
    }
    .product h2 {
        font-size: 32px;
        padding-bottom: 30px;
    }
    .product .btn-default {
        font-size: 12px;
        padding: 5px 12px;
    }
    .product .col .thumbnail h3 {
        font-size: 22px;
        padding-bottom: 20px;
    }
    .product .col .thumbnail p {
        font-size: 14px;
        padding: 0 71px;
        padding-bottom: 20px;
    }
    .product .col .thumbnail img {
        padding-bottom: 15px;
    }
    .product .col .thumbnail .box p {
        text-align: center;
        font-size: 18px;
        width: 239px;
    }
    .product .col .thumbnail .box .cart {
        margin: 0 30px;
        font-size: 18px;
    }
    #product .inner-contact {
        margin-top: -80px;
    }
    #product h2 {
        font-size: 32px;
        padding-bottom: 30px;
    }
    #product .btn-default {
        font-size: 12px;
        padding: 5px 12px;
    }
    #product .col .thumbnail h3 {
        font-size: 22px;
        padding-bottom: 20px;
    }
    #product .col .thumbnail p {
        font-size: 14px;
        padding: 0 71px;
        padding-bottom: 20px;
    }
    #product .col .thumbnail img {
        padding-bottom: 15px;
    }
    #product .col .thumbnail .box p {
        text-align: center;
        font-size: 18px;
        width: 235px;
    }
    #product .col .thumbnail .box .cart {
        margin: 0 30px;
        font-size: 18px;
    }
    .slider-content {
        padding-top: 20px;
    }
    .review-content p {
        padding-right: 0;
    }
    .client .col {
        height: 415px;
        padding-left: 30px;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #quote-carousel h3 {
        font-size: 28px;
    }
    #quote-carousel p {
        font-size: 14px;
        padding-bottom: 20px;
    }
    #quote-carousel h4 {
        font-size: 14px;
    }
    .client .col {
        height: 380px;
        padding-top: 28px;
    }
    .carousel-indicators {
        top: 256px;
    }
    #quote-carousel p {
        font-size: 16px;
        line-height: 26px;
    }
    .quote {
        font-size: 116px;
        padding-right: 112px;
    }
    #contact h2 {
        font-size: 28px;
    }
    .contact input {
        height: 39px;
    }
    .contact p {
        font-size: 12px;
        line-height: 18px;
    }
    .contact .btn-default {
        font-size: 12px;
        padding: 12px 30px;
    }
    .about .about-contant p {
        font-size: 14px;
        padding-bottom: 25px;
    }
    footer .footer-logo {
        font-size: 38px;
        letter-spacing: -2px;
    }
    footer ul>li>a {
        font-size: 14px;
        padding-bottom: 10px;
        margin-left: 3px;
    }
    footer {
        height: 155px;
        padding: 23px 0;
    }
    footer {
        height: auto;
    }
    #pets img {
        object-fit: cover;
        height: 300px;
        padding-bottom: 30px;
    }
    #pets .part-1,
    .part-2,
    .part-3 {
        padding-bottom: 50px;
    }
    #pets p {
        font-size: 14px;
    }
    #careers .part-1,
    .part-2,
    .part-3 {
        padding-bottom: 50px;
    }
    #careers p {
        font-size: 14px;
    }
    .form-horizontal .form-group {
        margin-bottom: 0;
    }
    .review input {
        height: 39px;
        margin-bottom: 12px;
    }
    textarea.form-control {
        margin-bottom: 15px;
    }
    .form-horizontal .btn-default {
        font-size: 16px;
        padding: 10px 25px;
    }
    .about {
        padding-left: 20px;
        padding-right: 20px;
    }
    .mbm_social .social-facebook,
    .mbm_social .social-twitter,
    .mbm_social .social-google-plus {
        width: 84px;
        height: 24px;
    }
    .mbm_social i {
        font-size: 10px;
    }
    .mbm_social small {
        font-size: 10px;
        margin: 0 0 0 12px;
    }
}

@media (max-width: 767px) and (min-width: 320px) {
    .navbar-brand {
        line-height: 9px;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 20px;
    }
    .navbar-default .navbar-nav>li>a {
        padding: 12px;
    }
    .blog_single .subtitle {
        font-size: 36px;
    }
    .blog_single h3 {
        line-height: 14px;
    }
    .contant .image {
        height: 350px;
    }
    .blog_single .subtitle {
        font-size: 46px;
    }
    .blog_single h3 {
        line-height: 33px;
    }
}

@media (max-width: 425px) and (min-width: 320px) {
    #pets .container {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar>.container .navbar-brand {
        font-size: 40px;
        letter-spacing: -4px;
    }
    .jumbotron h1 {
        font-size: 32px;
        line-height: 35px;
        line-height: 34px;
        letter-spacing: -1;
    }
    .jumbotron .btn-lg {
        font-size: 12px;
        padding: 16px 19px;
        border-radius: 100px;
    }
    .jumbotron .col {
        padding: 22px 15px;
        min-height: auto;
    }
    .jumbotron .col .inner-content h2 {
        font-size: 20px;
    }
    .jumbotron .col .inner-content p {
        font-size: 12px;
        padding-right: 20px;
    }
    .about .image {
        height: 200px;
        margin-bottom: 30px;
    }
    .about .about-contant p {
        font-size: 14px;
        padding-bottom: 20px;
        line-height: 23px;
    }
    .about .about-contant {
        padding-bottom: 50px;
    }
    .single .carousel-inner>.item>img,
    .img-thumbnail {
        max-width: 100%;
        height: 300px;
    }
    .contact .form-group {
        margin-bottom: 15px;
    }
    .staff .col video {
        height: auto;
        border: 10px solid #464646;
    }
    .staff h2 {
        font-size: 22px;
    }
    .staff h5 {
        font-size: 12px;
    }
    .staff h3 {
        font-size: 22px;
        padding-bottom: 10px;
    }
    .staff h4 {
        font-size: 14px;
        padding-bottom: 20px;
    }
    .staff p {
        font-size: 12px;
        line-height: 22px;
        padding-right: 0;
        padding-bottom: 10px;
    }
    .staff .btn-group .btn {
        padding: 9px 15px;
        font-size: 12px;
    }
    .staff .btn-group .btn-warning {
        margin-right: 10px;
    }
    .staff {
        padding-bottom: 40px;
    }
    .product .thumbnail {
        margin-bottom: 40px;
    }
    .product h2 {
        font-size: 28px;
    }
    .product .btn-default {
        padding: 5px 9px;
    }
    .product {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .product .col .thumbnail .box p {
        text-align: center;
    }
    .product .col .thumbnail .box .cart {
        margin: 0 42px;
        font-size: 18px;
        padding-top: 40px;
    }
    .product .col .thumbnail .box .cart {
        margin: 0 43px;
    }
    .product .col .thumbnail .box p {
        font-size: 18px;
    }
    #product .inner-content {
        padding-top: 70px;
    }
    #product .thumbnail {
        margin-bottom: 40px;
    }
    #product h2 {
        font-size: 28px;
    }
    #product .btn-default {
        padding: 5px 9px;
    }
    #product .col .thumbnail .box p {
        text-align: center;
    }
    #product .col .thumbnail .box .cart {
        margin: 0 42px;
        font-size: 18px;
        padding-top: 40px;
    }
    #product .col .thumbnail .box .cart {
        margin: 0 43px;
    }
    #product .col .thumbnail .box p {
        font-size: 18px;
    }
    .single .img-thumbnail {
        height: 80px;
    }
    .single .myp {
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 10px
    }
    .slider-content .myspan {
        font-size: 22px;
    }
    .slider-content .myspan1 {
        font-size: 24px;
    }
    .cart .btn {
        width: 178px;
        padding: 8px 0;
    }
    .cart .btn-info {
        margin-bottom: 5px;
    }
    .cart {
        margin-top: 18px;
    }
    .client .co {
        padding-top: 35px;
    }
    .contact .address {
        padding-left: 15px;
        padding-right: 15px;
    }
    .contact {
        padding-top: 40px;
    }
    .contact .btn-default {
        margin-bottom: 40px;
        font-size: 12px;
    }
    .contact .inner-content {
        padding-bottom: 40px;
    }
    .contact ::placeholder {
        font-size: 12px;
    }
    .contact textarea.form-control {
        border-radius: 0;
        margin-bottom: -1px;
    }
    footer ul {
        text-align: center;
    }
    footer ul>li>a {
        font-size: 14px;
        margin-left: 0px;
        border: 1px solid;
        padding: 2px 6px;
    }
    .contact .main-footer p {
        text-align: center;
    }
    footer {
        height: auto;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .staff h5 {
        padding-bottom: 30px;
        font-size: 9px;
    }
    .staff .col {
        margin-bottom: 20px;
    }
    .contact h2 {
        font-size: 28px;
        padding-bottom: 40px;
    }
    footer .footer-logo {
        float: none;
    }
    .about {
        padding-left: 20px;
        padding-right: 20px;
    }
    .about .inner-content {
        padding-top: 80px;
        padding-right: 0px;
        padding-left: 0px;
    }
    #pets {
        padding-left: 20px;
        padding-right: 20px;
    }
    #pets .inner-content {
        padding-top: 80px;
        padding-right: 0px;
        padding-left: 0px;
    }
    #careers .container {
        width: 100%;
    }
    .single .inner-content {
        padding-top: 35px;
    }
    .review-content {
        padding: 15px 15px 9px 16px;
    }
    .review-content p {
        font-size: 14px;
        line-height: 20px;
    }
    .review h2 {
        font-size: 24px;
    }
    .mbm_social li {
        margin: 0 4px 0 0;
    }
    .mbm_social {
        margin: 22px 0;
        float: none;
    }
    .social-buttons h3 {
        font-size: 14px;
        padding: 0 10px;
        padding-top: 20px;
        text-align: center;
    }
    .blog_single .heading h2 {
        font-size: 24px;
    }
    .blog_single .heading {
        padding-top: 30px;
    }
    .social-buttons {
        border: 1px solid #c2c2c2;
        margin-top: 30px;
        margin-bottom: 60px;
    }
    .contant .image {
        height: 200px;
        margin-bottom: 30px;
    }
    .contant p {
        font-size: 14px;
    }
    .blog_single .subtitle {
        font-size: 28px;
    }
    .contact textarea.form-control {
        height: 100px;
    }
    .mbm_social .social-facebook,
    .mbm_social .social-twitter,
    .mbm_social .social-google-plus {
        width: 84px;
        height: 24px;
    }
    .mbm_social i {
        font-size: 10px;
    }
    .mbm_social small {
        font-size: 10px;
        margin: 0 0 0 14px;
    }
}

@media (max-width: 375px) and (min-width: 320px) {
    .client .col {
        padding-left: 22px;
        padding-right: 14px;
    }
    .quote {
        padding-right: 157px;
    }
    .carousel-indicators {
        top: 224px;
    }
    #quote-carousel h3 {
        font-size: 32px;
        padding-bottom: 30px;
    }
    #quote-carousel h4 {
        font-size: 18px;
        padding-bottom: 40px;
    }
    #quote-carousel p {
        font-size: 16px;
        padding-bottom: 19px;
    }
    .contact input {
        height: 35px;
    }
    .contact p {
        font-size: 11px;
        line-height: 15px;
    }
    footer ul>li>a {
        font-size: 12px;
    }
    footer .footer-logo {
        font-size: 42px;
        letter-spacing: -4px;
    }
    #pets h3 {
        font-size: 26px;
        padding-bottom: 5px;
    }
    #pets p {
        font-size: 12px;
    }
    #pets .part-1,
    .part-2,
    .part-3 {
        padding-bottom: 30px;
    }
    #pets img {
        padding-bottom: 30px;
    }
    .social-buttons h3 {
        font-size: 12px;
        padding: 0 10px;
        text-align: center;
        padding-top: 20px;
    }
    .mbm_social {
        float: none;
        margin: 20px 0;
    }
    .social-buttons {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .blog_single .heading h2 {
        font-size: 22px;
    }
    .contant .image {
        height: 300px;
        margin-bottom: 30px;
    }
    .single .carousel-inner>.item>img,
    .img-responsive {
        height: 300px;
    }
    .single .img-thumbnail {
        height: 55px;
    }
    .single .myp {
        font-size: 14px;
        line-height: 22px;
        text-align: justify;
    }
    .cart .btn {
        width: 190px;
        padding: 10px 0;
        font-size: 14px;
    }
    .review-content p {
        padding-right: 10px;
        font-size: 13px;
        line-height: 22px;
    }
    .review input {
        height: 39px;
        margin-bottom: 12px;
    }
}

@media (max-width: 320px) {
    .carousel-indicators {
        top: 243px;
    }
    .product .col .thumbnail .box .cart {
        margin: 0 21px;
    }
    #product .col .thumbnail .box .cart {
        margin: 0 21px;
    }
    #product .inner-contact {
        margin-top: -100px;
    }
    .jumbotron .col .pete-1,
    .pete-2,
    .pete-3 {
        padding: 48px;
    }
    footer ul>li>a {
        font-size: 12px;
    }
    .contact .main-footer p {
        font-size: 12px;
    }
    #quote-carousel h3 {
        font-size: 26px;
    }
    .form-horizontal .btn-default {
        font-size: 14px;
        padding: 10px 20px;
    }
}