html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    font-size: 1.6rem;
    font-family: 'Exo 2', sans-serif;
    color: #009cff;
  }

  a {
    color: #009cff;
    text-decoration: none;
  }
